{% extends 'company/src/html/base.html' %}

{% block content %}
{% load static %}


<style>
  .bs {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
  }

  .bs_sm {
    box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
  }

  .tb {
    color: black;
  }

  .tg {
    color: rgb(0, 140, 7);
  }

  .tr {
    color: rgb(218, 0, 0);
  }

  .btn_add {
    background-color: orange;
    color: black;
  }

  .btn_add:hover {
    background-color: rgb(234, 152, 0);
    color: black;
  }

  ::-webkit-scrollbar {
    display: none
  }
  select option:hover{
    background-color: black;
  }
  .field_margin{
    margin-left: 0.5rem;
  }
  .field_credit_margin_top{
    margin-top: 0.62rem;
  }
  .field_label_margin_top
  {
    margin-top: 0.4rem;
    margin-left: 0.1rem;
  }
  .close_pad{
    padding-top: 0.18rem;
  }
  @media only screen and (max-width:540px) {
    .field_margin{
      margin-left: inherit;
    }
    .field_credit_margin_top{
      margin-top: 0.55rem;
    }
    .field_label_margin_top
    {
      margin-top: 0.2rem;
      margin-left: 0.1rem;
    }
    .field_label_margin_top
    {
      margin-top: -1.1rem;
      margin-left: 0rem;
    }
    .close_pad{
      padding-top: 0.16rem;
    }
  }
</style>

<div class="body-wrapper">
  <br><br><br>
  <div class="row p-0 m-0">
    <div class="col-12  p-0 m-0" style="height: ;">
      <div class=" bg-light bg-light pb-0 mb-0 p-2" style="height:100%;width:100%">
        <div class="d-flex justify-content-center pt-4">
          <a href="" id="b1" class="btn  text-white"
            style="margin-right: 10px; background-color: rgb(252, 3, 3,0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            Sale <i class="fa fa-plus"></i></a>
          <a href="" id="b2" class="btn  text-white"
            style="margin-right: 10px;background-color: rgba(3, 161, 252, 0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            Purchase <i class="fa fa-plus"></i></a>
          <a href="" id="b3" class="btn text-primary"
            style="border-radius: 20px;border: 1px solid rgb(40, 12, 222);background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            More <i class="fa fa-plus"></i></a>
        </div>
        <p></p>
        {% if messages %}
        {% for i in messages %}
          {% if i.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>WARNING:</strong> {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif i.tags == 'info' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>INFO:</strong> {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif i.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>SUCCESS:</strong> {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif i.tags == 'error' %}
          <div class="alert bg-danger alert-dismissible fade show" role="alert">
            <strong>ERROR:</strong> {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
        <form action="{% url 'bank_create_new' %}" method="post">
          {% csrf_token %}
                  <div class="position-relative">
                    <div class="position-absolute end-0">
                      <div class="d-flex pt-3 pe-3">
                        <span class="fa fa-cog fs-5 tb p-1 pe-3"></span>
                        <a href="{% url 'banks_list' 0 %}"><span class="fa fa-times fs-5 tb close_pad"></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="bg-light bs p-4 rounded mb-5">
                      <div class="d-md-flex d-sm-block">
                        <h5><strong class="fw-bolder">Add Bank Account</strong></h5>
                      </div>
                      <hr>
                    <div id="main_form_div">
                      
                      <div class="d-lg-flex d-md-flex d-xl-flex d-xxl-flex d-sm-none">
                        <div class="w-100">
                          <label for="">BANK NAME</label>
                          <input style="color: black;" autofocus="true" class="form-control border-dark fw-bolder" type="text" placeholder="BANK NAME" autocomplete="off" name="bank_name" required>
                          <hr>
                        </div>
                        <div class="w-100 field_margin">
                          <label for="">ACCOUNT NUMBER</label>
                          <input style="color: black;" class="form-control border-dark fw-bolder" type="number" placeholder="0000-0000-0000-0000" name="account_num" required
                          hx-post="{% url 'account_num_check' %}"
                          hx-trigger="keyup delay:0s"
                          hx-target="#account_num_check_target"
                          >        
                          <div class="position-relative">
                            <div class="position-absolute start-50 translate-middle-x">
                              <div id="account_num_check_target"></div>
                            </div>
                          </div>                
                          <hr>
                        </div>
                        <div class="w-100 field_margin">
                          <label for="">IFSC CODE</label>
                          <input style="color: black;" class="form-control border-dark fw-bolder" type="text" placeholder="SBIN0000001" name="ifsc" required
                          hx-post="{% url 'bank_ifsc_check' %}"
                          hx-trigger="keyup delay:0s"
                          hx-target="#bank_ifsc_check_target"
                          >
                          <div class="position-relative">
                            <div class="position-absolute start-50 translate-middle-x">
                              <div id="bank_ifsc_check_target"></div>
                            </div>
                          </div>   
                          <hr>
                        </div>
                      </div>
                      
                      <div class="d-lg-flex d-md-flex d-xl-flex d-xxl-flex d-sm-none">
                        <div class="w-100">
                          <label for="">BRANCH NAME</label>
                          <input style="color: black;" class="form-control border-dark fw-bolder" type="text" placeholder="BRANCH NAME" autocomplete="off" name="branch_name" required>
                          <hr>
                        </div>
                        <div class="w-100 field_margin">
                          <label for="">UPI ID</label>
                          <input style="color: black;" class="form-control border-dark fw-bolder" type="text" placeholder="user@bankname" name="upi_id" >                        
                          <hr>
                        </div>
                        <div class="w-100 field_margin">
                          <label for="">AS OF DATE</label>
                          <input id="date_" style="color: black;" class="form-control border-dark fw-bolder" type="date" placeholder="IFSC CODE" name="as_of_date" required>
                          <hr>
                        </div>
                      </div>

                      <div class="d-lg-flex d-md-flex d-xl-flex d-xxl-flex d-sm-none">
                        <div class="w-100">
                          <label for="">CARD TYPE</label>
                          <div class="position-relative">
                              <div class="position-absolute start-0 top-0 field_credit_margin_top" style=" margin-left: 0.8rem;">
                                  <span class="fa fa-credit-card tb fs-4" aria-hidden="true"></span>
                              </div>
                          </div>
                          <select style="color: black;" class="form-select border-dark bg-light ps-5" id="" name="card_type" required>
                            <option value="DEBIT"><span class="fa fa-credit-card-alt tb fs-4"></span>DEBIT</option>
                            <option value="CREDIT">CREDIT</option>
                          </select>
                          <hr>
                        </div>
                        <div class="w-100 field_margin">
                          <label for="">OPENING BALANCE</label>
                          <input style="color: black;" class="form-control border-dark fw-bolder" type="number" placeholder="OPENING BALANCE" autocomplete="off" name="open_balance">
                          <hr>
                        </div>
                      </div>
                        <div class="text-center mt-3 mb-5">
                          <button id="" class="btn btn-primary bg-gradient  mt-2 ms-2 me-2" type="submit" name="save_and_next" value="save_and_next">SAVE AND NEXT</button>
                          <button id="" class="btn btn-primary bg-gradient  mt-2 ps-5 pe-5" type="submit"name="save" value="save">SAVE</button>
                        </div>
                    </div>
                  </div>
        </form>

        <!-- modal start -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ADD UNIT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body mb-1 pb-1">
                <!-- <form class="mb-0" action="{% url 'item_unit_create' %}" method="POST"></form> -->
                <form class="mb-0" action="" method="POST" id="unit_form">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">UNIT</label>
                    <input type="text" class="form-control border-dark" id="item_unit_name_id" placeholder="ENTER UNIT HERE.." name="item_unit_name" required>
                  </div>
                  <div class="m-0 text-center">
                    <label for="message-text" class="col-form-label  text-secondary fw-lighter">Example : PCS/BOX/LITER</label>
                    <!-- <textarea class="form-control" id="message-text"></textarea> -->
                  </div>
                  <input hidden id="submit_unit_creation" type="submit">
                </form>
              </div>
              <div class="modal-footer d-flex justify-content-center mt-1">
                <button id="modal_cls_btn" type="button" class="btn btn-secondary ps-5 pe-5" data-bs-dismiss="modal">Close</button>
                <button id="add_btn_" type="button" class="btn btn-primary ps-5 pe-5" onclick="submit_unit_creation_fn()">ADD</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal end -->

        
        
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("submit","#unit_form",function(e){
    e.preventDefault();
  $.ajax({
    
    type : 'POST',
    url:"{% url 'item_unit_create' %}",

    data:{
      item_unit_name : $("#item_unit_name_id").val(),
        
        csrfmiddlewaretoken: '{{ csrf_token }}'
        
      },
    
      success: function() {
        
      },
      
  });  
  $('#modal_cls_btn').click()
  var a = ''+$('#item_unit_name_id').val()
  a.toUpperCase()
  $('#load_new_unit').val(a)
  $('#load_new_unit').text(a) 
  $('#load_new_unit').prop('selected',true) 
  $('#load_new_unit').attr('hidden',false)
});
  $(document).ready(function () {
    if ($('#flexSwitchCheckChecked').prop('checked')) {
      $('#lbl2').css({ 'color': 'blue' })
    }
    else{
      $('#lbl1').css({ 'color': 'blue' })
    }
    $('#flexSwitchCheckChecked').on('change load', function () {
      if ($('#flexSwitchCheckChecked').prop('checked')) {
        $('#lbl2').css({ 'color': 'blue' })
        $('#lbl1').css({ 'color': 'inherit' })
      }
      else {
        $('#lbl1').css({ 'color': 'blue' })
        $('#lbl2').css({ 'color': 'inherit' })
      }
    })
  })
  $(document).ready(function(){
    $('#item_tax_1').on('click',function(){
      if($(this).prop('checked'))
      {
        $('#taxable_hide').attr('hidden',false)
      }
    })
  })
  // page loading start
  $(document).ready(function(){
    $('#item_tax_2').on('click',function(){
      if($(this).prop('checked'))
      {
        $('#taxable_hide').attr('hidden',true)
      }
    })
  })
  $(document).ready(function(){
    $('#prc_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
    $('#stk_ a').removeClass('text-dark')
    $('#prc_ a').addClass('text-dark')
    $('#stk_').css({'border-bottom': 'none'})
    $('#pricing_template').attr('hidden',false)


    $('#prc_').on('click',function(){
      $(this).css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
      $('#stk_ a').removeClass('text-dark')
      $('#prc_ a').addClass('text-dark')
      $('#stk_').css({'border-bottom': 'none'})
      $('#pricing_template').attr('hidden',false)
      $('#stock_template').attr('hidden',true)
    })
  })
  $(document).ready(function(){
    $('#stk_').on('click',function(){
      $('#stk_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
      $('#prc_ a').removeClass('text-dark')
      $('#stk_ a').addClass('text-dark')
      $('#prc_').css({'border-bottom': 'none'})
      $('#pricing_template').attr('hidden',true)
      $('#stock_template').attr('hidden',false)
    })
  })
  $(document).ready(function(){
    $('#next_btn').on('click',function(){
      $('#stk_').click()
    })
  })
  $(document).ready(function(){
    $('#prev_btn').on('click',function(){
      $('#prc_').click()
    })
  })
  // $(document).ready(function(){
  //   $('#prc_').on('click',function(){
  //     alert('asdsad')
  //   })
  // })
  // $(document).ready(function(){
  //   $('#prc_').on('click',function(){
  //     alert('asdsad')
  //   })
  // })
  // page loading end
  $('#opn_stock_').on('keyup click',function(){
    if($(this).val()>'0')
    {
      $('#at_price_div').css({'visibility':'visible',
                              'transition':'all 0.2s linear'})
    }
    else{
      $('#at_price_div').css({'visibility':'hidden',
                              'transition':'all 0.2s linear'})
      $('#at_price').val('')
    }
  })
  $(document).ready(function(){
    $('#item_tax_1').on('click',function(){
      $('#taxable_result').val('Taxable')
    })
  })
  $(document).ready(function(){
    $('#item_tax_2').on('click',function(){
      $('#taxable_result').val('Non Taxable')
    })
  })
  function submit_unit_creation_fn()
  {
    $('#submit_unit_creation').click()
  }
  // set today start
  $(document).ready(function(){
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = String(currentDate.getMonth() + 1).padStart(2, "0");
        var day = String(currentDate.getDate()).padStart(2, "0");
        var formattedDate = year + "-" + month + "-" + day;
        $("#date_").val(formattedDate);
    })
    // set today end

</script>
{% endblock %}