<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debitnote</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <style>
        .table2 {
            text-align: center;
            padding-top: 6px;
            font-size: 1.1em;
            background-color: rgb(221, 247, 247);

        }

        .table-head {
            color: rgb(52, 49, 58);
        }

        .table2 .tbody tr {
            margin-bottom: 3px;
        }

        .table3 {
            width: 75px;
            text-align: right;
            font-size: 14px;
        }

        body {
            font-size: 14px;
        }
    </style>
</head>



<body>
    <div class="my-5 page" size="A4">
        <div class="p-5">
            <div id="ember2512" class="row tooltip-container ember-view ribbon text-ellipsis"
                style="display: flex; justify-content: space-between;">
                <div class="col-md-4 ribbon-inner ribbon-open" style="
                margin-right: 600px;
                color: white;
                text-align: center;
                padding-top: 10px;
              ">
                </div>
                <div class="col-md-4">
                    <h3>
                        <center class="text-black"><b>Debit Note</b></center>
                    </h3>
                </div>
                <div class="col-md-4 graphic-path" style="
                  text-align: right;
                  padding-top: 10px;
                  margin-left: 550px;
                  text-align: center;
                  color: rgb(0, 0, 0);
                ">
                    <p>Debit No. <span style="font-weight: bold;">{{pdebt.pdebitid }}</span>
                        <br>
                        Debit Date: <span style="font-weight: bold;">{{pdebt.debitdate|date:'d-m-Y' }}</span>
                        <br>
                       
                    </p>

                </div>
            </div>
            <table class="table1 table-bordered" style="border-color: black;">
                <tbody>
                    <tr style="font-weight: bolder">
                        <td></td>
                        <td></td>
                        <td>Party</td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="text-info" style="font-weight: bold; color: rgb(49, 49, 138);">
                                {{pdebt.company.company_name}}</h5>
                            <p class="address" style="font-weight: bold;color: #000;"> {{cmp.address}}<br>
                                {{ pdebt.company.address }} <br>
                                {{pdebt.company.city}},
                                {{pdebt.company.state}}
                                {{pdebt.company.pincode}} <br>
                                {{ pdebt.company.user.email }} <br>
                                {{ pdebt.company.contact }} 
                            </p>
                        </td>
                        <td></td>
                        <td>
                            <h5 class="text-info" style="font-weight: bold;"><span style="color: #000;">Name:
                                </span>{{pdebt.party.party_name}}</h5>
                            <p class="address" style="font-weight: bold;color: #000;">
                                <span>Address :</span>{{pdebt.party.address}}
                                <br>
                                <span>Contact: </span>{{pdebt.party.contact}}
                                <br>
                                
                           
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <section class="product-area mt-4">
                <table class="table2 table-hover table-primary">
                    <thead>
                        <tr>
                            <td>ITEM</td>
                            <td>HSN</td>
                            <td>QUANTITY</td>
                            <td>PRICE</td>
                            <td>TAX</td>
                            <td>DISCOUNT</td>
                            <td>TOTAL</td>
                        </tr>
                    </thead>
                    <tbody>
                      
                        {% for itm in pitm %}
                                                                    <tr>
                                                                        <td class="text-center" style="color: black;">{{ itm.product.item_name}}</td>
                                                                        <td class="text-center" style="color: black;">{{itm.product.item_hsn}}</td>
                                                                        <td class="text-center" style="color: black;">{{ itm.qty }}</td>
                                                                        <td class="text-center" style="color:black">{{ itm.product.item_purchase_price  }}</td>
                                                                        {% if pdebt.supply == 'State' %}
                                                                        <td class="text-center" style="color: black;">{{ itm.product.item_gst  }}</td>
                                                                        {% else %}
                                                                        <td class="text-center" style="color: black;">{{ itm.product.item_igst  }}</td>
                                                                        {% endif %}
                                                                        <td class="text-center" style="color:black">{{ itm.discount  }}</td>
                                                                        <td class="text-center" style="color:black">{{ itm.total }}</td>
                                                                    </tr>
                                                                {% endfor %} 
                    </tbody>
                </table>
            </section>
            <hr />
            <section class="balance-info" style="margin-top: 1rem;">
                <div class="row my-5">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <table class="table3 border-0 table-hover">
                            <tr >
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">Sub Total :</span>
                                </th>
                                <td class="text-right" style="color: #000;">{{pdebt.subtotal}}</td>
                            </tr>
                            
                            {% if pdebt.supply != 'State' %}
                            <tr >
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">IGST:</span>
                                </th>
                                <td class="text-right" style="color: #000;">{{pdebt.igst}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">CGST:</span>
                                </th>
                                <td class="text-right" style="color: #000;">{{pdebt.cgst}}</td>
                                
                            </tr>
                            <tr>
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">SGST:</span>
                                </th>
                                <td class="text-right" style="color: #000;">{{pdebt.sgst}}</td>
                            </tr>
                            {% endif %}
                            <tr >
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">Tax Amount:</span>
                                </th>
                                <td class="text-right" style="color: #000;">{{pdebt.taxamount}}</td>
                            </tr>

                            {% if pdebt.adjustment != None and pdebt.adjustment != 0.0 %}
                           
                            <tr >
                                <th colspan="5">
                                    <span style="float: right; margin-right: 10px">Adjustment:</span>
                                </th>

                                <td class="text-right" style="color: #000;">{{pdebt.adjustment}}</td>
                            </tr>
                            {% endif %}
                          
                       
                            <tfoot>
                                <tr>
                                    <th colspan="5">
                                        <span style="float: right; margin-right: 14px">Grand Total:</span>
                                    </th>
                                    <td style="color: black; font-weight: bold">
                                        {{pdebt.grandtotal}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                <div class="row container-fluid  p-2 m-0" style="margin-top: 4rem;">
                    <div class="col-md-6 col-sm-6 m-0 p-0"><label style="color: #000;"><b>Authorized
                                Signature</b></label><span class="text-dark">_____________________</span></div>
                    <!-- <div class="col-sm-4 m-0 p-0 text-dark">________________________</div> -->
                    <div class="col-md-6 col-sm-6 m-0 p-0"></div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>