<div class="row">
    <div  class="col-sm-12 col-md-3">

    </div>
    <div class="col-sm-12 col-md-6">
        <div class="text- pt-5">
          <label style="user-select: none;" class="fs-5 tb" for="item_tax_1">Taxable</label>
          <input id="item_tax_1" class="me-3" type="radio" name="item_tax">
          <label style="user-select: none;" class="fs-5 tb" for="item_tax_2">Non Taxable</label>
          <input id="item_tax_2" type="radio" name="item_tax">
        </div>
        <br>
        <div hidden id="taxable_hide" class="mb-3">
          <div class="d-flex">
            <div class="w-50 me-3">
              <label class="fw-bold tb fs-3" for="">GST</label><br>
              <select style="color: black;" class="form-control fw-bolder border-secondary fs-3" id="" placeholder="GST" name="" >
                <option value="" selected>GST0[0%]</option>
                <option value="">GST0[3%]</option>
                <option value="">GST0[5%]</option>
                <option value="">GST0[12%]</option>
                <option value="">GST0[18%]</option>
                <option value="">GST0[28%]</option>
              </select>
            </div>
            <div class="w-50">
              <label class="fw-bold tb fs-3" for="">IGST</label><br>
              <select style="color: black;" class="form-control fw-bolder border-secondary tb fs-3" id="" placeholder="GST" name="" >
                <option value="" selected>IGST0[0%]</option>
                <option value="">IGST0[3%]</option>
                <option value="">IGST0[5%]</option>
                <option value="">IGST0[12%]</option>
                <option value="">IGST0[18%]</option>
                <option value="">IGST0[28%]</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pb-2">
            <label class="tb fw-bold" for="pur_price">SALES PRICE</label>
            <input style="color: black;" id="sal_price" class="form-control fw-bolder border-secondary  fs-3" type="number" placeholder="Sales Price here">
        </div>
        <div>
          <label class="tb fw-bold" for="">PURCHASE PRICE</label>
          <input style="color: black;" id="pur_price" class="form-control fw-bolder border-secondary  fs-3" type="number" placeholder="Purchase Price here">
      </div>
    </div>
    <div  class="col-sm-12 col-md-3">

    </div>
  </div>