<!-- create by athul -->

{% extends 'company/src/html/base.html' %}

{% block content %}
{% load static %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>
  .bs {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
  }

  .bs_sm {
    box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
  }

  .tb {
    color: black;
  }

  .tg {
    color: rgb(0, 140, 7);
  }

  .tr {
    color: rgb(218, 0, 0);
  }

  .btn_add {
    background-color: orange;
    color: black;
  }

  .btn_add:hover {
    background-color: rgb(234, 152, 0);
    color: black;
  }

  ::-webkit-scrollbar {
    display: none
  }
  select option:hover{
    background-color: black;
  }
</style>

<div class="body-wrapper">
  <br><br><br>
  <div class="row p-0 m-0">
    <div class="col-12  p-0 m-0" style="height: ;">
      <div class=" bg-light bg-light pb-0 mb-0 p-2" style="height:100%;width:100%">
        <div class="d-flex justify-content-center pt-4">
          <a href="" id="b1" class="btn  text-white"
            style="margin-right: 10px; background-color: rgb(252, 3, 3,0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            Sale <i class="fa fa-plus"></i></a>
          <a href="" id="b2" class="btn  text-white"
            style="margin-right: 10px;background-color: rgba(3, 161, 252, 0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            Purchase <i class="fa fa-plus"></i></a>
          <a href="" id="b3" class="btn text-primary"
            style="border-radius: 20px;border: 1px solid rgb(40, 12, 222);background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add
            More <i class="fa fa-plus"></i></a>
        </div>
        <p></p>



        <form action="{% url 'item_update' item.id %}" method="post">
          {% csrf_token %}
                  <div class="position-relative">
                    <div class="position-absolute end-0">
                      <div class="d-flex pt-3 pe-3">
                        <span class="fa fa-cog fs-5 tb p-1 pe-3"></span>
                        <a href="{% url 'items_list' item.id %}"><span class="fa fa-times fs-5 tb p-1"></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="bg-light bs p-4 rounded mb-5">
                      <div class="d-md-flex d-sm-block">
                        <h5><strong class="fw-bolder">ITEM DETAILS</strong></h5>
                        <div class="form-check form-switch d-flex">
                          <label id="lbl1" class="form-check-label fw-bolder" for="flexSwitchCheckChecked">PRODUCTS</label>
                          <input class="form-check-input fs-5 ms-2 me-2" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                            checked>
                          <label id="lbl2" class="form-check-label fw-bolder" for="flexSwitchCheckChecked">SERVICES</label>
                        </div>
                      </div>
                    <br>
                    <div id="main_form_div">
                      <br>
                      <div class="d-flex">
                        <div class="position-relative">
                            <div class="position-absolute" style="margin-top: -1.2rem;margin-left: .2rem;">
                                <label style="color: black;" class="form-check-label fw-bolder">NAME</label>
                            </div>
                        </div>
                        <input style="color: black;" class="form-control border-dark fw-bolder" type="text" placeholder="ITEM NAME" autocomplete="off" name="item_name" value="{{ item.item_name|capfirst }}" required>
                        <div class="position-relative">
                            <div class="position-absolute" style="margin-top: -1.2rem;margin-left: 0.6rem;">
                                <label style="color: black;" class="form-check-label fw-bolder">HSN</label>
                            </div>
                        </div>
                        <input style="color: black;" class="form-control border-dark ms-2 fw-bolder" type="number" placeholder="ITEM HSN" name="item_hsn" value="{{ item.item_hsn }}" required>
                        <div class="position-relative">
                            <div class="position-absolute" style="margin-top: -1.2rem;margin-left: 0.6rem;">
                                <label style="color: black;" class="form-check-label fw-bolder">UNITS</label>
                            </div>
                        </div>
                        <select style="color: black;" class="form-control ms-2 border-dark bg-light me-2" id="" name="item_unit" required>
                          <option value=""{% if item.item_unit == '' %}selected{% endif %}>Select an option</option>
                          <option value="NOS"{% if item.item_unit == 'NOS' %}selected{% endif %}>NOS</option>
                          <option value="BOX"{% if item.item_unit == 'BOX' %}selected{% endif %}>BOX</option>
                          <option value="PACKET"{% if item.item_unit == 'PACKET' %}selected{% endif %}>PACKET</option>
                          {% if item_units %}
                            {% for i in item_units %}
                            <option value="{{ i.unit_name }}"{% if item.item_unit|lower == i.unit_name %}selected{% endif %}>{{ i.unit_name|upper }}</option>
                            <h1>{{ i.unit_name }}</h1>
                            <h1>{{ item.item_unit }}</h1>
                            {% endfor %}
                          {% endif %}
                        </select>
                        <!-- <button class="btn bg-warning"><span class="fa fa-plus"></span></button> -->
                        <!-- modal start -->
                        <button type="button" class="btn bg-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><span class="fa fa-plus"></span></button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">ADD UNIT</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body mb-1 pb-1">
                                <form class="mb-0">
                                  <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">UNIT</label>
                                    <input type="text" class="form-control border-dark" id="recipient-name" placeholder="ENTER UNIT HERE..">
                                  </div>
                                  <div class="m-0 text-center">
                                    <label for="message-text" class="col-form-label  text-secondary fw-lighter">Example : PCS/BOX/LITER</label>
                                    <!-- <textarea class="form-control" id="message-text"></textarea> -->
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer d-flex justify-content-center mt-1">
                                <button type="button" class="btn btn-secondary ps-5 pe-5" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary ps-5 pe-5">ADD</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- modal end -->
                      </div>
                    
                      <div>
                          <p></p>
                          <hr class="p-0 m-0">
                          <div style="background-color: rgba(0, 195, 255, 0.205);" class="p-3 pb-0 mb-0">
                            <div class="">
                              <div class="row pb-0 mb-0">
                                <div id="prc_" class="col text-center pb-2" ><a class="fw-bolder fs-4"
                                    style="color: gray;" >PRICING</a></div>
                                <div id="stk_" class="col text-center pb-2" ><a class="fw-bolder fs-4"
                                    style="color: gray;" >STOCKS</a></div>
                                <!-- <div id="" class="col text-center pb-2"><a class="fw-bolder fs-4"
                                    style="color: gray;" >FIELD3</a></div>
                                <div id="" class="col text-center pb-2"><a class="fw-bolder fs-4"
                                    style="color: gray;" >FIELD4</a></div> -->
                              </div>
                            </div>
                          </div>

                          <!-- pricing template start -->
                          <div id="pricing_template" style="background-color: rgba(144, 211, 117, 0.098);">
                            <div class="row">
                              <div  class="col-sm-12 col-md-1">

                              </div>
                              <div class="col-sm-12 col-md-10 pb-4">
                                  <div class="text- pt-5">
                                    <label style="user-select: none;" class="fs-4 tb" for="item_tax_1">Taxable</label>
                                    <input id="item_tax_1" class="me-3" type="radio" name="item_tax_result" required>
                                    <label style="user-select: none;" class="fs-4 tb" for="item_tax_2">Non Taxable</label>
                                    <input id="item_tax_2" type="radio" name="item_tax_result" required>
                                    <input id="taxable_result" type="text" name="item_taxable" hidden>
                                  </div>
                                  <br>
                                  <div hidden id="taxable_hide" class="mb-3">
                                    <div class="d-flex">
                                      <div class="w-50 me-3">
                                        <label class="fw-bold tb fs-3" for="">GST</label><br>
                                        <select style="color: black;background-color: white;" class="form-control fw- border-secondary fs-3" id="" placeholder="GST" name="item_gst" >
                                          <option value="GST0[0%]"{% if item.item_gst == 'GST0[0%]' %}selected{% endif %}>GST0[0%]</option>
                                          <option value="GST3[3%]"{% if item.item_gst == 'GST3[3%]' %}selected{% endif %}>GST3[3%]</option>
                                          <option value="GST5[5%]"{% if item.item_gst == 'GST5[5%]' %}selected{% endif %}>GST5[5%]</option>
                                          <option value="GST12[12%]"{% if item.item_gst == 'GST12[12%]' %}selected{% endif %}>GST12[12%]</option>
                                          <option value="GST18[18%]"{% if item.item_gst == 'GST18[18%]' %}selected{% endif %}>GST18[18%]</option>
                                          <option value="GST28[28%]"{% if item.item_gst == 'GST28[28%]' %}selected{% endif %}>GST28[28%]</option>
                                        </select>
                                      </div>
                                      <div class="w-50">
                                        <label class="fw-bold tb fs-3" for="">IGST</label><br>
                                        <select style="color: black;background-color: white;" class="form-control fw- border-secondary tb fs-3" id="" placeholder="GST" name="item_igst" >
                                          <option value="IGST0[0%]"{% if item.item_igst == 'IGST0[0%]' %}selected{% endif %}>IGST0[0%]</option>
                                          <option value="IGST3[3%]"{% if item.item_igst == 'IGST3[3%]' %}selected{% endif %}>IGST3[3%]</option>
                                          <option value="IGST5[5%]"{% if item.item_igst == 'IGST5[5%]' %}selected{% endif %}>IGST5[5%]</option>
                                          <option value="IGST12[12%]"{% if item.item_igst == 'IGST12[12%]' %}selected{% endif %}>IGST12[12%]</option>
                                          <option value="IGST18[18%]"{% if item.item_igst == 'IGST18[18%]' %}selected{% endif %}>IGST18[18%]</option>
                                          <option value="IGST28[28%]"{% if item.item_igst == 'IGST28[28%]' %}selected{% endif %}>IGST28[28%]</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="d-flex">
                                    <div class="w-50 me-3">
                                      <label class="tb fw-bold" for="pur_price">SALES PRICE</label><br>
                                      <input style="color: black;background-color: white;" id="sal_price" class="form-control fw-normal border-secondary  fs-3" type="number" placeholder="Sales Price here" value="{{ item.item_sale_price }}" name="item_sale_price" required>
                                    </div>
                                    <div class="w-50">
                                      <label class="tb fw-bold" for="">PURCHASE PRICE</label><br>
                                      <input style="color: black;background-color: white;" id="pur_price" class="form-control fw-normal border-secondary  fs-3" type="number" placeholder="Purchase Price here" value="{{ item.item_purchase_price }}" name="item_purchase_price" required>
                                    </div>
                                  </div>
                                  <div class="text-start mt-5">
                                    <button id="next_btn" class="btn btn-primary bg-gradient" type="button">Next</button>
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-md-1">

                              </div>
                            </div>
                          </div>
                          <!-- pricing template end -->


                          <!-- stock template start -->
                          <div hidden id="stock_template" style="background-color: rgba(144, 211, 117, 0.098);">
                            <div class="row">
                              <div  class="col-sm-12 col-md-1">

                              </div>
                              <div class="col-sm-12 col-md-10 pb-4">
                                <br><br>
                                  <div class="d-flex">
                                    <div class="w-50 me-3">
                                      <label class="tb fw-bold" for="opn_stock_">OPENING STOCK</label><br>
                                      <input style="color: black;background-color: white;" id="opn_stock_" class="form-control fw-normal border-secondary  fs-3" type="number" placeholder="Opening Stock here"value="{% if item.item_opening_stock %}{{ item.item_opening_stock }}{% else %}0{% endif %}" name="item_opening_stock">
                                    </div>
                                    <div id="at_price_div" {% if item.item_opening_stock != 0 %}{% else %}style="visibility: hidden;"{% endif %} class="w-50">
                                      <label class="tb fw-bold" for="at_price">AT PRICE</label><br>
                                      <input style="color: black;background-color: white;" id="at_price" class="form-control fw-normal border-secondary  fs-3" type="number" placeholder="At Price here"value="{% if item.item_at_price %}{{ item.item_at_price }}{% else %}0{% endif %}" name="item_at_price">
                                    </div>
                                  </div>
                                  <br>
                                  <div class="d-flex">
                                    <div class="w-50 me-3">
                                      <label class="tb fw-bold" for="date_">DATE</label><br>
                                      <input style="color: black;background-color: white;" id="date_" class="form-control fw-normal border-secondary  fs-3" type="date" placeholder=""required value="{{ item.item_date|date:'Y-m-d' }}" name="item_date">
                                    </div>
                                    <div class="w-50">
                                      <label class="tb fw-bold" for="at_price">MINIMUM STOCK TO MAINTAIN</label><br>
                                      <input style="color: black;background-color: white;" id="at_price" class="form-control fw-normal border-secondary  fs-3" type="number" placeholder="Purchase Price here"value="{% if item.item_min_stock_maintain %}{{ item.item_min_stock_maintain }}{% else %}0{% endif %}" name="item_min_stock_maintain">
                                    </div>
                                  </div>
                                  <div class="text-start mt-5">
                                    <button id="prev_btn" class="btn btn-primary bg-gradient  me-3" type="button">PREVIOUS</button>
                                    <input hidden id="confirm_update_button" type="submit">
                                    <button id="" class="btn btn-primary bg-gradient  me-3" onclick="confirm_update()" type="button">Update</button>
                                    <!-- <button id="" class="btn btn-primary bg-gradient" type="button">SAVE</button> -->
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-md-1">

                              </div>
                              
                            </div>
                          </div>
                          <!-- stock template end -->
                           
                      </div>


                    </div>
                  </div>
        </form>

        
        
      </div>
    </div>
  </div>
</div>

<script>
  //   #flexSwitchCheckChecked:checked #lbl1{
  //   color: blue
  // }
  $(document).ready(function () {
    if ($('#flexSwitchCheckChecked').prop('checked')) {
      $('#lbl2').css({ 'color': 'blue' })
    }
    $('#flexSwitchCheckChecked').on('change load', function () {
      if ($('#flexSwitchCheckChecked').prop('checked')) {
        $('#lbl2').css({ 'color': 'blue' })
        $('#lbl1').css({ 'color': 'inherit' })
      }
      else {
        $('#lbl1').css({ 'color': 'blue' })
        $('#lbl2').css({ 'color': 'inherit' })
      }
    })
  })
  $(document).ready(function(){
    $('#item_tax_1').on('click',function(){
      if($(this).prop('checked'))
      {
        $('#taxable_hide').attr('hidden',false)
      }
    })
  })
  // page loading start
  $(document).ready(function(){
    $('#item_tax_2').on('click',function(){
      if($(this).prop('checked'))
      {
        $('#taxable_hide').attr('hidden',true)
      }
    })
  })
  $(document).ready(function(){
    $('#prc_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
    $('#stk_ a').removeClass('text-dark')
    $('#prc_ a').addClass('text-dark')
    $('#stk_').css({'border-bottom': 'none'})
    $('#pricing_template').attr('hidden',false)


    $('#prc_').on('click',function(){
      $(this).css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
      $('#stk_ a').removeClass('text-dark')
      $('#prc_ a').addClass('text-dark')
      $('#stk_').css({'border-bottom': 'none'})
      $('#pricing_template').attr('hidden',false)
      $('#stock_template').attr('hidden',true)
    })
  })
  $(document).ready(function(){
    $('#stk_').on('click',function(){
      $('#stk_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
      $('#prc_ a').removeClass('text-dark')
      $('#stk_ a').addClass('text-dark')
      $('#prc_').css({'border-bottom': 'none'})
      $('#pricing_template').attr('hidden',true)
      $('#stock_template').attr('hidden',false)
    })
  })
  $(document).ready(function(){
    $('#next_btn').on('click',function(){
      $('#stk_').click()
    })
  })
  $(document).ready(function(){
    $('#prev_btn').on('click',function(){
      $('#prc_').click()
    })
  })
  // $(document).ready(function(){
  //   $('#prc_').on('click',function(){
  //     alert('asdsad')
  //   })
  // })
  // $(document).ready(function(){
  //   $('#prc_').on('click',function(){
  //     alert('asdsad')
  //   })
  // })
  // page loading end
  $('#opn_stock_').on('keyup click',function(){
    if($(this).val()>'0')
    {
      $('#at_price_div').css({'visibility':'visible',
                              'transition':'all 0.2s linear'})
    }
    else{
      $('#at_price_div').css({'visibility':'hidden',
                              'transition':'all 0.2s linear'})
      $('#at_price').val('')
    }
  })
  $(document).ready(function(){
    $('#item_tax_1').on('click',function(){
      $('#taxable_result').val('Taxable')
    })
  })
  $(document).ready(function(){
    $('#item_tax_2').on('click',function(){
      $('#taxable_result').val('Non Taxable')
    })
  })
  $(document).ready(function(){
      if('{{ item.item_taxable }}'==='Taxable')
      {
        $('#item_tax_1').click()
      }
      else{
        $('#item_tax_2').click()
      }
  })
  function confirm_update(Id)
    {
        swal({
            title: "Confirmation !",
            text: "Do you want to save the changes?",
            icon: "info",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                swal({
                    title: "Updated !",
                    text: "Item Updated Successfilly!",
                    icon: "success",
                    buttons: false,
                })
                // 
                .then((willDelete) => {
                if (willDelete) {
                    // Redirect to the delete_teacher view with the teacher's ID
                    $('#confirm_update_button').click()
                    
                } else {
                    $('#confirm_update_button').click()
                }
            });
                // 
            } else {
                swal("Action Cancelled!");
            }
        });
    }
</script>
{% endblock %}