<form action="" method="post">
    {% csrf_token %}
<table class="table w-100 table-light table-striped table-hover">
    <thead class="bg-primary">
        <th class="text-start fs-2 tb">ITEM</th>
        <th class="text-end fs-2 tb">QUANTITY</th>
    </thead>
    <tbody>
        {% for i in all_items %}
        <tr class="item_lists_hide">
            <td style="cursor:pointer" class="text-start fs-2 fw-bold text-dark"
            hx-post="{% url 'item_get_detail' i.id %}"
            hx-trigger="click delay:0s"
            hx-target="#item_get_detail_target"
            >{{ i.item_name|capfirst }}</td>
            <td class="text-end fs-2 fw-bolder" style="color: green;">
                {{ i.item_opening_stock }}
                <div class="btn-group mb-1">
                    <button style="border: none;background: none;" type="button" class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-ellipsis-v text-dark fs-1 ps-2"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item fw-bold tb" href="{% url 'item_view_or_edit' i.id %}"><span class="fa fa-eye pe-2 tg"></span> View / Edit</a></li>
                    <li><a class="dropdown-item fw-bold tb" type="button" onclick="confirm_delete({{ i.id }})"><span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;"></span> Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<!-- <h1>asdasd</h1> -->