<!-- create by athul -->

{% extends 'company/src/html/base.html' %}

{% block content %}
{% load static %}

<style>
    @media (max-width:768px) {
         .h1{
             font-size: 15px;
             
                
         }
         h2{
            font-size: 18px !important;
            margin-top: 30px !important;
         }
         .img-thumbnail{
             width: 100% !important;
         }
         .h5{
             font-size: 10px ;
         }
         .h6{
             font-size: 8px !important;
         }
         #label{
             font-size: 8px;
         }
         #acol{
             margin-top: 20px !important;
             margin-left: 3px !important;
             margin-bottom: 0px !important;
             padding-bottom:0px !important ;
             width: 100% !important;
             margin-top: 50px !important;
         }
         #pcol{
             margin-left: 3px !important;
             margin-top: 30px !important;
             padding-top: 0px !important;
             width: 100% !important;
             margin-right: 3px !important;
         }
         #scond_main_row{
            height: 500px;
         }
     }
 </style> 
 <body style="background-color: rgba(176, 199, 205, 0.4);">
     <div class="body-wrapper">
         <div class="container-fluid">
 
             <div class="container p-5" >
                 <div class="row" style="height: 300px;" >
                     <div class="col-md-4" >
                         {% if staff.company.profile_pic %}
                         <img   class="img-thumbnail" src="{{ staff.company.profile_pic.url }}" style="width: 100%;height: 90%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="">
                         {% else %}
                         <img src="{% static 'assets/images/profile/user-1.jpg' %}"  style="width: 100%;height: 90%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                           class="img-thumbnail">
                         {% endif %}
                     </div>
                     <div class="col-md-8" >
                         <div class="row" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                             <h1 class="h1 text-center pt-3 pb-2" style="text-transform:uppercase; font-family: 'Times New Roman', Times, serif;padding-left: 5px;">
                                 <b>{{staff.company.company_name}}</b></h1>
 
                         </div>
                         <div class="row mt-3"  style="background-color: rgba(176, 199, 205, 0.4);"></div>
                         <div class="row mt-2 pt-4 "  style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                             <div class="col" id="label">Owner</div>
                             <div class="col"><h5 class="h5"> <b >: {{staff.company.user.first_name}} {{staff.company.user.last_name}}</b></h5></div>   
                         </div>
                         <div class="row" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                             <div class="col pt-3" id="label">Company Code</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.company.Company_code}}</b></h5></div>
                         </div>
                         <div class="row" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                             <div class="col pt-3" id="label">Company Email</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.company.user.email}}</b></h5></div>
                         </div>
                         <div class="row" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                             <div class="col pt-3 pb-3" id="label">Company Contact</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.company.contact}}</b></h5></div>
                         </div>
 
                     </div>
                 </div>
                 <hr>
                 <h2 class="h2"><b>PERSONAL DETAILS</b></h2>
                 <div class="row mt-2"  id="scond_main_row" style="height: 300px;">
                     <div class="col-md-5 mt-2 m-3"  id="acol">
                        {% if staff.img %}
                         <img   class="img-thumbnail" src="{{ staff.img.url }}" style="width: 90%;height: 70%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="">
                         {% else %}
                         <img src="{% static 'assets/images/profile/user-1.jpg' %}"  style="width: 100%;height: 90%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                           class="img-thumbnail">
                         {% endif %}
                     </div>
                     <div class="col-md-6 mt-2 mb-3 m-4" id="pcol"  style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height: 100%;">
                         <div class="row"  >
                             <div class="col pt-3 pb-3" id="label">Name</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.first_name}} {{staff.last_name}}</b></h5></div>
                         </div>
                         <div class="row">
                             <div class="col pt-3 pb-3" id="label">Email</div>
                             <div class="col pt-3"><h6 class="h6"><b>: {{staff.email}}</b></h6></div>
                         </div>
                         <div class="row">
                             <div class="col pt-3 pb-3" id="label">Username</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.user_name}}</b></h5></div>
                         </div>
                         
                         
                         <div class="row">
                             <div class="col pt-3 pb-3" id="label">Contact</div>
                             <div class="col pt-3"><h5 class="h5"><b>: {{staff.contact}}</b></h5></div>
                         </div>
 
                     </div>
                 </div>
                 <!-- <div class="row p-3" style="margin-left: 20px;">
                     <div class="col">
                         <h5>Sales</h5>
 
                         {% if allmodules.sales_invoice != NULL %}
                         <b>-> </b> Sale Invoices <br>
                         {% endif %}
 
 
                         {% if allmodules.Estimate != NULL %}
                         <b>-> </b> Estimate/ Quotation <br>
                         {% endif %}
 
                         {% if allmodules.Payment_in != NULL %}
                         <b>-> </b> Payment In <br>
                         {% endif %}
 
                         {% if allmodules.sales_order != NULL %}
                         <b>-> </b> Sale Order <br>
                         {% endif %}
 
                         {% if allmodules.Delivery_challan != NULL %}
                         <b>-> </b> Delivery Challan <br>
                         {% endif %}
 
                         {% if allmodules.sales_return != NULL %}
                         <b>-> </b> Sale Return/ Cr. Note <br>
                         {% endif %}
 
                     </div>
                     <div class="col">
                         <h5>Purchase</h5>
                         {% if allmodules.Purchase_bills != NULL %}
                         <b>-> </b>Purchase Bills <br>
                         {% endif %}
                         {% if allmodules.Payment_out != NULL %}
 
                         <b>-> </b> Payment Out <br>
                         {% endif %}
                         {% if allmodules.Purchase_order != NULL %}
 
                         <b>-> </b>Purchase Order <br>
                         {% endif %}
                         {% if allmodules.Purchase_return != NULL %}
 
                         <b>-> </b>Purchase Return/ Dr. Note <br>
                         {% endif %}
 
                     </div>
                 </div>
 
                 <div class="row p-3" style="margin-left: 20px;">
                     <div class="col">
                         <h5>Cash & Bank</h5>
                         {% if allmodules.Bank_account != NULL %}
                         <b>-> </b>Bank Accounts <br>
                         {% endif %}
                         {% if allmodules.Cash_in_hand != NULL %}
                         <b>-> </b> Cash In Hand <br>
                         {% endif %}
                         {% if allmodules.cheques != NULL %}
                         <b>-> </b> Cheques <br>
                         {% endif %}
                         {% if allmodules.Loan_account != NULL %}
 
                         <b>-> </b> Loan Accounts <br>
                         {% endif %}
 
 
                     </div>
                     <div class="col"></div>
                 </div> -->
                 <div class="row">
                     <div class="col-md-4"></div>
                     <div class="col-md-4"><a href="{% url 'editstaff_profile' %}" class="btn btn-danger mt-5 m-3" style="width: 100%;font-weight: bold;">Edit Profile</a></div>
                     
                     <div class="col-md-4"></div>
                 </div>
 
               <center>
                 </center>
                
             
             </div>
         </div>
     </div>        
 </body>

{% endblock  %}