<!-- create by athul -->

{% extends 'admin/adminbase.html' %}

{% block content %}
{% load static %}

<style>
  table tr td:hover {
  cursor: pointer;
}
</style>
<body  style="background-color: rgba(176, 199, 205, 0.4);">
  


<div class="body-wrapper">
  <div class="container-fluid">

    

     <!-- <h3 class="text-center"><b style=" margin-bottom: 20px;">COMPANY REQUESTS</b></h3> -->
      <div style="overflow-x:auto;">  
        <table class="table table-hover  mt-5 " style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <thead>
              <tr>
                <th scope="col" style="color: black;"><b>ID</b></th>
                <th scope="col" style="color: black;"><b>Name</b></th>
                <th scope="col" style="color: black;"><b>Email</b></th>
                
                <th scope="col" style="color: black;"><b>Contact</b></th>
                <th scope="col" style="color: black;"><b>Payment Terms</b></th>
                <th scope="col" style="color: black;"><b>End Date</b></th>
                <th scope="col" style="color: black;"><b>Action</b></th>

              </tr>
            </thead>
            <tbody>
                {% for a in data %}
              <tr>
                <td>{{a.id}}</th>
                <td> <b><a href="{% url 'distributor_request_overview' a.id %}" style="color: black;">{{a.user.first_name}} </a></b></td>
                <td>{{a.user.email}}</td>
                <td>{{a.contact}}</td>
                <td>{{a.payment_term.payment_terms_number}} {{a.payment_term.payment_terms_value}}</td>
                <td>{{a.End_date}}</td>
                <td><a href="{% url 'admin_distributor_accept' a.id %}" class="btn btn-primary m-1">Accept</a>
                <a href="{% url 'admin_distributor_reject' a.id %}" class="btn btn-danger m-1">Reject</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>

  </div>
</div>
</body>

{% endblock content %}