<form action="{% url 'update_bank_transaction' transaction.id bank.id %}" method="post">
    {% csrf_token %}
    <div class="modal-header ps-4 pe-4 m-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: 900;">ADJUST BANK BALANCE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <hr class="mt-0 pt-0 ms-3 me-3 ps-1 pe-1">
    <div class="modal-body">
        
        <div class="p-1">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label style="font-weight: 900;" for="">ACCOUNT NAME</label>
                    <select class="form-control fs-4 fw-bolder tb" name="from_here" id="from_" disabled style="background-color: white;" required>
                        <option class="form-control fs-4 fw-bolder" value="">Select a bank</option>
                        {% for i in banks %}
                            <option class="form-control fs-4 fw-bolder tb" {% if transaction.from_here.id == i.id %} selected {% endif %}  value="{{ i.id }}">{{ i.bank_name|upper }}</option>
                        {% endfor %}
                    </select>   
                    <hr>        
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label style="font-weight: 900;" for="">TYPE</label> 
                    <select id="to_" class="form-control fs-4 fw-bolder tb" style="background-color: white;" disabled name="inc_red" type="text" required>
                        <option class="form-control fs-4 fw-bolder" value="">Select a bank</option>
                        <option class="form-control fs-4 fw-bolder" {% if transaction.type == "Adjustment Increase" %} selected {% endif %} value="Increase Balance">Increase Balance</option>
                        <option class="form-control fs-4 fw-bolder" {% if transaction.type == "Adjustment Reduce" %} selected {% endif %} value="Reduce Balance">Reduce Balance</option>
                    </select>   
                    <hr>     
                </div>
            </div>
            <div class="p-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <label style="font-weight: 900;" for="">AMOUNT</label>
                        <input id="amount_" min="0" style="background-color: white;user-select: none;" type="number" autocomplete="false" value="{{ transaction.amount }}"  placeholder="0" class="form-control fw-bolder fs-4 tb" name="amount" required>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <label style="font-weight: 900;" for="">DATE</label>
                        <input id="date_" style="background-color: white;user-select: none;" type="date" autocomplete="false" value="{{ transaction.date|date:'Y-m-d' }}"  placeholder="amount/-" class="form-control fw-bolder fs-4 tb" name="date" required>
                        <hr>
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center ps-4 pe-4 ">
        <button id="cls_btn" type="button" class="btn btn-secondary tb" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning tb" onclick="submit_function()">Update</button>
    </div>
    </div>
</form>


<script>
    function submit_function(){
        if($('#from_').val()  && $('#to_').val() && $('#amount_').val())
        {
            $('#cls_btn').click()
            setInterval(function(){
                $('#sbmt_btn').click()
            },200)
        }
    }
    // $('input').on('input',function(){
    //     if(parseInt($(this).val())<0)
    //     {
    //         $(this).val(0)
    //     } 
    // })
    // $(document).ready(function(){
    //     var currentDate = new Date();
    //     var year = currentDate.getFullYear();
    //     var month = String(currentDate.getMonth() + 1).padStart(2, "0");
    //     var day = String(currentDate.getDate()).padStart(2, "0");
    //     var formattedDate = year + "-" + month + "-" + day;
    //     $("#date_").val(formattedDate);
    // })
</script>